*    text=auto
# Text files
*.cs diff=csharp text
*.txt text
*.mat text
*.shader text
*.meta text
*.md5 text
*.compute text
*.md text
*.prefab text
*.mixer text
*.ShaderGraph text
*.anim text
*.asmdef text
*.json text
*.overrideController text
*.cginc text
*.hlsl text
*.giparams text
*.controller text
*.mask text
*.playable text
ProjectSettings/*.asset text
